body {
    margin: 0;
    background-color: #1F2937;
    color: #FFFFFF;
    font-family: 'Karla';
    font-style: normal;  
}

h1{
    width: 354px;
    margin-bottom: 5px;
   font-size: 43px; 
   font-weight: 800;
   line-height: 40px; 
   margin: 115px 144px 10px 52px;
   
}

h3{
    width: 372px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #D5D4D8;
    font-size: 20px;
    line-height: 28px;
    margin: 0 126px 10px 52px;
}


span{
    color: #4ADF86;
}
.gnPassBtn{
    width: 191px;
    background-color: #4ADF86;
    color: inherit;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none; 
    padding: 9px 17px 9px 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

hr{
    border: 1px solid #2F3E53;
    margin: 15px 52px 35px 52px;
}

.passContainer{   
 display: flex;
 justify-content: space-between;  
 margin: 0 52px;
}
.generatedPassSty{
   width: 160px;
   height: 39px;
   background-color: #273549;;
   border-radius: 6px;
   margin-bottom: 20px;
}


p{
  text-align: center;
  color: #4ADF86;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
} 
.customProp{
   margin-left: 52px; 
   margin-top: 10px;
}

.btnMargin{
     margin:51px 307px 35px 52px;
}

#passLength{
    width: 35px;
    margin-left: 20px;
}

